.major-box{
    width: 100%;
    max-width: 100vw;
    height: 100%;
    min-height: 100vh;
    
}

.container{
    width: 50%;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: cadetblue;
    gap: 1.5rem;
}

.input-box{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 60vw;
    height: 100%;
    
}

.button-box{
    display: flex;
    justify-content: center;

}

.output-box{
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1.5rem;
}

.value-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
    gap: 1rem;
}
.year-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
    gap: 1.5rem;
}

option{
    background-color: aliceblue;
}